<!doctype html>
<html>
<head>
	<title>GoT</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <ul class="heading_list">
        <li><a href="/">Home</a></li>
        <li><a href="/characters/">Characters</a></li>
        <li><a href="/houses/">Houses</a></li>
        <li><a href="/kingdoms/">Kingdoms</a></li>
        <li><a href="/continents/">Continents</a></li>
        <li><a href="/titles/">Titles</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/relationships/">Relationships</a></li>
    </ul>
	{{{body}}}
</body>
</html>